body {
    font-family: 'Rubik', sans-serif;
    background: #1B0A7D;
    display: grid;
    align-items: center;
    justify-content: center;
}

.mobile {
    padding: 40px 20px 40px 20px;
    width: 388px;
    height: 846px;
    border-radius: 60px;
    background: #000040;
}

.mobile__top {
    background-image: url(img/Avatar.png);
    background-position: right;
    background-repeat: no-repeat;
    width: 368px;
    height: 60px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    margin-left: 10px;

    color: #FFFFFF;
}

.username {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B9B2C4;
}

.bank_card {
    position: relative;
    margin: 24px 0px 20px 7px;
    width: 338px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 30px;
    height: 160px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-clip: padding-box;
    border-color: linear-gradient(217deg, #20204D, rgba(255, 0, 0, 0) 80.71%),
        linear-gradient(127deg, #781CFF, rgba(0, 255, 0, 0) 50.71%),
        linear-gradient(336deg, #D41E7F, rgba(0, 0, 255, 0) 50.71%);
    background: linear-gradient(217deg, #20204D, rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, #781CFF, rgba(0, 255, 0, 0) 50.71%),
        linear-gradient(336deg, #D41E7F, rgba(0, 0, 255, 0) 50.71%);
}

.balance {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.card_info {
    margin-top: 81px;
    width: 156px;
    height: 41px;
}

.card_info span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
}

.card_info p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    color: rgba(255, 255, 255, 0.7);
    margin-top: 8px;
}

.sv1 {
    width: 40px;
    height: 23px;
    position: absolute;
    top: 95px;
    right: 36.6px;
}

.sv2 {
    width: 42px;
    height: 28px;
    position: absolute;
    top: 177.6px;
    right: 34.4px;
}

.functions_ {
    display: flex;
    width: 368px;
    height: 105px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}

.icons {
    align-items: center;
    justify-content: center;
    /* display: flex; */
    width: 80px;
    height: 96px;
    margin: 0 auto;
}

.icons p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
    text-align: center;

}

.transactions {
    width: 368px;
    height: 294px;
    margin-top: 34px;
    margin-left: 10px;
}

.details {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #FFFFFF;
}

.view {
    float: right;
}

.transactions ul {
    margin-top: 20px;
}

.transactions ul li img {
    margin-right: 15px;
    width: 55px;
    height: 55px;
}

.transactions ul li {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: right;

    color: #FFFFFF;

}

.fl_lft {
    position: absolute;
    top: 7px;
    right: 0;
}

.tr_name {
    padding-top: 7px;
}

.date {
    position: absolute;
    bottom: 4px;
    left: 70px
}

.time {
    position: absolute;
    bottom: 4px;
    right: 0;
}

.transactions ul li p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #B9B2C4;
}

.nav_panel {
    width: 388px;
    height: 66px;
    border-radius: 40px;
    background: linear-gradient(180deg, #20204D 0%, #1D1D55 100%);
    margin-top: 17px;
}

.nav_panel ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    margin: 3px 35px 0px 35px;
}

.r_mar {
    margin-right: 40px;
}

.head_ {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.head_ img {
    position: absolute;
    top: 0;
    left: 20px;
    Width: 11.38px;
    Height: 22.75px;
}

.total {
    margin-top: 32px;
    margin-left: 118px;
    width: 151px;
    height: 65px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.balan {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #B9B2C4;
}

.summ {
    text-align: center;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */


    color: #FFFFFF;
}

.schedule {
    margin-left: 15px;
}

.dates {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #B9B2C4;
    width: 368px;
    height: 19px;


}

.abs {
    width: 350px;
    height: 20px;
}

.dates ul {
    display: flex;
    margin-left: 3px;
    margin-top: 20px;
}

.margins {
    margin-right: 54.5px;
}

.graph {
    clear: both;
    width: 368px;
    height: 195.5px;
    background-image: url("svg/Schedule.svg");
    position: relative;
}

.filter {
    width: 98px;
    height: 19px;
    float: right;
    padding-right: 5px;
    margin: 20px 0px 15px 0px;
}

.filter span {

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #B9B2C4;
}

.filter img {
    margin: 0px 0px 0px 10px;
}

.rect {
    width: 66px;
    height: 30px;
    background: #E42BC9;
    border-radius: 10px;
    position: absolute;
    left: 152px;
    top: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */


    color: #FFFFFF;
}

.ellipse {
    border-radius: 50%;
    border: 2px solid #7b0569;
    background: #E42BC9;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 180px;
    top: 76px;
}

.bankCards {
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.bC {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
}

.bC .balan {
    text-align: left;

}

.bC .summ {
    text-align: left;

}

.cards {
    width: 408px;
    height: 468px;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
}

.purple {
    width: 464px;
    height: 292.5px;
    border-color: linear-gradient(217deg, #20204D, rgba(255, 0, 0, 0) 80.71%),
        linear-gradient(127deg, #781CFF, rgba(0, 255, 0, 0) 50.71%),
        linear-gradient(336deg, #D41E7F, rgba(0, 0, 255, 0) 50.71%);
    background: linear-gradient(217deg, #20204D, rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, #781CFF, rgba(0, 255, 0, 0) 50.71%),
        linear-gradient(336deg, #D41E7F, rgba(0, 0, 255, 0) 50.71%);
    transform: rotate(-90deg);
    border: 1px solid transparent;
    border-radius: 40px;
    position: absolute;
    top: 87px;
    left: -83px;
}

.green {
    width: 464px;
    height: 292.5px;
    border-color: linear-gradient(217deg, #20204D, rgba(255, 0, 0, 0) 80.71%),
        linear-gradient(127deg, #781CFF, rgba(0, 255, 0, 0) 50.71%),
        linear-gradient(336deg, #D41E7F, rgba(0, 0, 255, 0) 50.71%);
    background: linear-gradient(217deg, #2F2D63, rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, #1CFF5B, rgba(0, 255, 0, 0) 50.71%),
        linear-gradient(336deg, #1ED5CA, rgba(0, 0, 255, 0) 50.71%);
    transform: rotate(-90deg);
    border: 1px solid transparent;
    border-radius: 40px;
    position: absolute;
    top: 87px;
    left: 225px;
}

.pointers {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.pointers .selected {
    background: #2680B8;
    border: 2px solid #69a4d5;
}

.pointers p {
    width: 6px;
    height: 6px;
    background: #1F1F4E;
    border: 2px solid #2f485c;
    border-radius: 50%;
    margin-right: 12px;
}
.purple div {
    position: relative;
    top:203px;
    left: 38px;
    font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 20.3478px;
line-height: 24px;

color: #FFFFFF;
}
.purple .date__{
    font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 15.2609px;
line-height: 18px;
color: rgba(255, 255, 255, 0.7);
}
.purple img {
    position: absolute;
    transform: rotate(90deg);
    top:120px;
    left: 390px;
}
.purple .master {
    top:220px;
}